body {
    margin: 0;
    padding: 0;
    font-family: Castellar;
    background-color: rgb(0, 0, 0);
    height: 100%;
}

h1 {
    text-align: center;
    color: rgb(255, 215, 0);
}

.container {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    max-width: 48rem;
    height: 30rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .7rem;
}

.card {
    background-color: darkgoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

button {
    margin-top: 100px;
    background-color: rgb(220, 180, 0);
    padding: 8px;
    font-size: 25px;
    font-weight: bold;
    font-family: Castellar;
}

button:hover {
    background-color: rgb(255, 215, 0);
}
